
{{> index}}
{{#if error}}
<p>{{error}}</p>
{{else}}
<div class="w-3/4 h-auto flex flex-row border border-gray-500 rounded my-4">
    <div class="w-2/5 videoWrapper">
        <iframe width="100%" height="auto" src="https://www.youtube.com/embed/{{meta.id}}" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="w-full h-full">
        <div class="w-1/2 h-full mx-auto px-4 py-2 flex flex-col items-center">
            {{#each meta.formats.audio}}
                {{#if isAudio}}
                    <button filename="-{{format_note}}.m4a" url="{{url}}" class="getvideo w-full px-3 py-2 block my-1 w-full rounded border-green-700 hover:border-green-600 border text-left">
                        MP3
                    </button>
                {{/if}}

            {{/each}}
            <div class="w-full flex flex-col selectcont mt-4">
                <div id="{{meta.id}}" class="videoSelector cursor-pointer relative inline-block flex flex-row rounded px-3 py-2 border border-green-700 hover:border-green-600">
                    MP4 - {{meta.formats.video.[0].format_note}}
                </div>
                <div class="{{meta.id}} list hidden absolute w-1/4 flex flex-col items-center justify-center overflow-y-scroll bg-white">
                    {{#each meta.formats.video}}
                        {{#if isVideo}}
                            <button filename="-{{format_note}}.mp4" url="{{url}}" class="getvideo w-full px-3 py-2 block my-1 w-full rounded border-green-700 hover:border-green-600 border text-left">
                                MP4 - {{format_note}}
                            </button>
                        {{/if}}
                    {{/each}}
                </div>
            </div>

        </div>
    </div>
</div>

{{/if}}